# workflow name
name: Release

# on events
on:
  push:
    tags: 
        - "*"

# workflow tasks
jobs:
  binaries:
    name: Cross-platform binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.0.2

      - name: Inject version
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '0.0'
          replace: ${{ github.ref_name }}
          include: "cmd/encarno/main.go"

      - name: Generate build files
        uses: crazy-max/ghaction-xgo@v2.0.0
        with:
          xgo_version: latest
          go_version: 1.18
          dest: build
          pkg: "cmd/encarno"
          prefix: ${{ github.event.repository.name }}
          targets: linux/amd64, linux/arm64, darwin/amd64, darwin/arm64, windows/amd64
          v: true
          x: false
          race: false
          ldflags: -s -w
          buildmode: default
          buildvcs: false
          tags: ""
      - name: Release artifacts
        uses: ncipollo/release-action@v1.10.0
        with:
          artifacts: > 
            build/${{ github.event.repository.name }}-darwin-amd64,
            build/${{ github.event.repository.name }}-darwin-arm64,
            build/${{ github.event.repository.name }}-linux-amd64,
            build/${{ github.event.repository.name }}-linux-arm64,
            build/${{ github.event.repository.name }}-windows-amd64.exe
          allowUpdates: 'true'
          token: ${{ secrets.GITHUB_TOKEN }}

  pypi:
    name: PyPi module
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.0.2

      - name: Inject version 1
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '"0.0"'
          replace: ${{ github.ref_name }}
          include: "taurus/encarno/__init__.py"

      - name: Inject version 2
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '"0.0"'
          replace: ${{ github.ref_name }}
          include: "taurus/setup.py"

      - name: Install deps
        run: pip install build twine

      - name: Build package
        run: cd taurus && python -m build && twine check dist/*

      - name: pypi-publish
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          packages_dir: taurus/dist
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  docker:
    name: Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.0.2

      - name: Inject version 1
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '"0.0"'
          replace: ${{ github.ref_name }}
          include: "taurus/encarno/__init__.py"

      - name: Inject version 2
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '"0.0"'
          replace: ${{ github.ref_name }}
          include: "taurus/setup.py"

      - name: Inject version 3
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '0.0'
          replace: ${{ github.ref_name }}
          include: "Dockerfile"

      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: undera/encarno

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}